#app-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url('https://wallpapercave.com/wp/cqhO8rQ.jpg');
  background-position: 10% 20%;
}

#top-detain-container {
  display: flex;
  justify-content: space-between;
}


input[type=text] {
  height: 40px;
  border: 2px solid #1C6EA4;
}

#input-container {
  display: inline-block;
  margin-bottom: 10%;
}

.each-stat{
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 70px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px
}

#stats-container {
  width: 300px;
}

#enter-pokemon-btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#enter-pokemon-btn:hover {
	background-color:#5cbf2a;
}
#enter-pokemon-btn:active {
	position:relative;
	top:1px;
}

#post-search-container {
  visibility: hidden;
}

#img-top {
  width: 200px;
  height: auto
}


#stats-hp {
  background-color: rgb(235, 62, 62)
}
#stats-atk {
  background-color: rgb(235, 112, 112)
}
#stats-def {
  background-color: orange
}
#stats-sp-atk {
  background-color: rgb(82, 82, 247)
}
#stats-sp-def {
  background-color: rgba(28, 121, 28, 0.712)
}
#stats-speed {
  background-color: rgba(184, 69, 69, 0.657)
}
